[user]
    email = matthew.j.laufer@gmail.com
    name = Matthew Laufer

[core]
    editor = nvim
    pager = delta

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    syntax-theme = raraku
    line-numbers-minus-style = "#ca0005"
    line-numbers-plus-style = "#147925"
    line-numbers-zero-style = "#e4d3a6"
    minus-style = "syntax #ffbfbf"
    minus-emph-style = "syntax #ffafaf"
    plus-style = "syntax #c1eac4"
    plus-emph-style = "syntax #a6e3ab"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
    rebase = true

[rerere]
    enabled = true
