[user]
    email = matthew.j.laufer@gmail.com
    name = Matthew Laufer

[core]
    editor = nvim
    pager = delta

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    syntax-theme = inklight
    line-numbers-minus-style = "#c50000"
    line-numbers-plus-style = "#008000"
    line-numbers-zero-style = "#6d6d6d"
    minus-style = "syntax #fcdbd8"
    minus-emph-style = "syntax #fcc8c4"
    plus-style = "syntax #d5ecce"
    plus-emph-style = "syntax #bbe5b2"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
    rebase = true

[rerere]
    enabled = true
