[user]
    email = matthew.j.laufer@gmail.com
    name = Matthew Laufer

[core]
    editor = nvim
    pager = delta

[init]
    defaultBranch = main

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true
    side-by-side = true
    syntax-theme = inklight
    line-numbers-minus-style = "#b61e00"
    line-numbers-plus-style = "#007f4e"
    line-numbers-zero-style = "#6e6e6e"
    minus-style = "syntax #ffe0da"
    minus-emph-style = "syntax #ffcdc2"
    plus-style = "syntax #d3f1de"
    plus-emph-style = "syntax #bae7cc"

[merge]
    conflictstyle = diff3

[diff]
    colorMoved = default

[pull]
    rebase = true

[rerere]
    enabled = true
